venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.sqlite3
etl.log
.DS_Store
/.idea
.vscode
lib64/
pyvenv.cfg/
.venv/
ENV/
env/
pytest.ini
.pytest_cache/
conection.env
__pycache__/
dags/.airflowignore
.dockerignore
.env
.datalake/