arro3-core==0.6.3
deltalake==1.1.4
Deprecated==1.2.18
-e git+https://github.com/gianlambrus/ETL_Olympic_Project.git@b0b6780a52569b76b2dd0982c0990c013b1a3a71#egg=etl_olympic_project
git-filter-repo==2.47.0
iniconfig==2.1.0
logger==1.4
numpy==2.3.3
packaging==25.0
pandas==2.3.2
pluggy==1.6.0
pyarrow==21.0.0
Pygments==2.19.2
pytest==8.4.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
six==1.17.0
tzdata==2025.2
wrapt==1.17.3
